.table-input {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(10, 10, 10, 0);
  
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px rgb(56, 56, 56); /* this draws the table border  */
    margin-bottom: 50px;
    tbody {
      border-radius: 10px;
      overflow: scroll;
    }
    td {
      border: 1px solid rgb(56, 56, 56);
    }
    input {
      width: 125px;
      padding: 10px;
      font-size: 20px;
      color: rgb(0, 0, 0);
      background-color: transparent;
      border: transparent;
    }
    caption {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 500;
      color: #000;
      margin-bottom: 10px;
    }
  }
  