.solve-copland {
    display: grid;
    grid-row-gap: 15px;
    margin-top: 40px;
    background: #fff;
    padding: 30px 40px;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
  }

  
.solve-copland .item {
  align-self: center;
  justify-self: center;
}